/* copy + paste with Ctrl + Z afterwords, for correct formatting */

/* standards ________________________________________________________________*/
:root {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  --black010: rgba(0, 0, 0, 0.1);
  --black050: rgba(0, 0, 0, 0.5);
  --gray010:rgba(128, 128, 128, 0.1);
  --gray050:rgba(128, 128, 128, 0.5);
  --white010: rgba(255, 255, 255, 0.1);
  --white050: rgba(255, 255, 255, 0.5);

  --accent: lightsteelblue;

  --shadow: 0 0 0.5rem var(--black050);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  
  outline: none;
  
  font-size: 1rem;
  line-height: 1.5rem;
  
  /* border: 1px solid red; */
}

/* elements _________________________________________________________________*/

hr {
  border: 1px solid var(--color-black050);
  width: 75%;
}

.button,.material-symbols-outlined {
  cursor: pointer;
}

/* segments _________________________________________________________________*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* >header {
    width: 100vw;
  } */
  >main {
    width: clamp(300px, 100%, 900px);
    >.container{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  /* >footer {
    width: 100vw;
  } */
}

.noteBookContainer {
  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: 1rem;

  >.noteBook {
    line-height: 2rem;
    
    >.note {
      display: flex;
      margin: 0.5rem 0;
      
      >.text {
        order: 4;
        flex: 1;
        margin: 0 0.5rem;
        background-color: var(--black010);
        border-radius: 0.25rem;
      }
      >.markImportantIcon {order: 1; }
      >.markDoneIcon {order: 2;}
      >.date {order: 3; margin-left: 0.25rem;}
      >.deleteIcon {order: 5;}
    }
  }
}

[data-markimportant = "notImportant"] {
  color: var(--black010);
}

.addIcon {
  margin-left: 24px;
}

.addNotebook {
  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--black050);
  order: 1000;
}

.deleteNotebook {
  color: var(--black050);
  display: inline;
  float: right;
}

.date {
  position: relative;

  >.dateIcon {
    cursor: pointer;
  }
  >.dateInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
  }
  >.dateText {
    display: inline;
    vertical-align: top;
    margin-left: 0.25rem;
  }
}
